.vscode
.env
scrapers/metacritic/__pycache__
.ipynb_checkpoints
scrapers/vgchartz/__pycache__
.pytest_cache
tests/__pycache__
test_hw_sales.csv
scrapers/twitter/__pycache__
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/
xbox-series-x-urls.txt
download.png:Zone.Identifier
Xbox_one_logo.svg.png:Zone.Identifier